<h1 class="text-2xl font-bold mb-4">Configurations</h1>

<table class="min-w-full divide-y divide-gray-200">
  <thead>
    <tr>
      <th class="px-4 py-2">ID</th>
      <th class="px-4 py-2">Name</th>
      <th class="px-4 py-2">Version</th>
      <th class="px-4 py-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @app_configurations.each do |config| %>
      <tr>
        <td class="border px-4 py-2"><%= config.id %></td>
        <td class="border px-4 py-2"><%= config.name %></td>
        <td class="border px-4 py-2"><%= config[:version] || 1 %></td>

        <td class="border px-4 py-2">
          <%= link_to 'Show', app_configuration_path(config), class: "text-blue-500" %> |
          <%= link_to 'Edit', edit_app_configuration_path(config), class: "text-green-500" %> |
          <%= link_to 'Delete', app_configuration_path(config), method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-500" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Configuration', new_app_configuration_path, class: "bg-blue-500 text-white py-2 px-4 rounded" %>
