<h1 class="text-2xl font-bold mb-4">New Configuration</h1>

<%= form_with model: @app_configuration, url: app_configurations_path, local: true do |f| %>
  <% if @app_configuration.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
      <h2>Errors:</h2>
      <ul>
        <% @app_configuration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, class: "block font-semibold" %>
    <%= f.text_field :name, class: "border rounded px-2 py-1 w-full" %>
  </div>
  <br>
  <div>
    <%= f.label :config_data, "Configuration (JSON)", class: "block font-semibold" %>
    <%= f.text_area :config_data, value: JSON.pretty_generate(@app_configuration.config_data), rows: 10, cols: 50, class: "border rounded px-2 py-1 w-full" %>

  </div>
  <br>
  <div>
    <%= f.submit 'Create', class: "bg-blue-500 text-white py-2 px-4 rounded" %>
  </div>
<% end %>

<br>
<%= link_to 'Back', app_configurations_path, class: "bg-gray-500 text-white py-2 px-4 rounded" %>
